@import "tailwindcss";

@font-face {
    font-family: 'font-1';
    src: url(./assets/fonts/ppneuemontreal-medium.otf) format('opentype');
}
@font-face {
    font-family: 'font-2';
    src: url(./assets/fonts/MonumentExtended-Regular.otf) format('opentype');
}

*{
    font-family: 'font-1', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #E2E1DF;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
