@import "tailwindcss";

@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/PPNeueMontreal-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/MonumentExtended-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/MonumentExtended-Ultrabold.ttf) format("truetype");
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #e2e1df;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
